{% extends "baseWidgetEditor.html" %}

{% block modalClass %}
  apos-widget-editor
  apos-soundcloud-editor
{% endblock %}

{% block modalLabel %}
  Soundcloud
{% endblock %}

{#{% block formBody %}
	<label>TYPE</label>
		  <select class="apos-soundcloud-display_type">
			  <option value="waveform">Waveform</option>
			  <option value="360">360</option>
			  <option value="soundcloud-embed">Soundcloud-embed</option>
		  </select>

	<br>
	<label>URL</label>
  <input class="apos-soundcloud-url" type="text" name="url" />	  
  Button
{% endblock %}#}

{% block modalInstructions %}
  Enter the URL of your soundcloud track.
{% endblock %}

{% block formBody %}
<fieldset class="apos-fieldset">
  <label>URL</label>
  <input class="apos-soundcloud-url" type="text" name="url" />
</fieldset>
{% endblock %}
