{% extends "baseWidgetEditor.html" %}

{% block widgetVars %}
  {% set widgetClass = 'apos-soundcloud-editor' %}
{% endblock %}

{% block title %}
  Soundcloud
{% endblock %}



{% block formBody %}
	<label>TYPE</label>
		  <select class="apos-soundcloud-display_type">
			  <option value="waveform">Waveform</option>
			  <option value="360">360</option>
			  <option value="soundcloud-embed">Soundcloud-embed</option>
		  </select>

	<br>
	<label>URL</label>
  <input class="apos-soundcloud-url" type="text" name="url" />	  
  Button
{% endblock %}

{% block instructions %}
  Enter the URL of your soundcloud sound.
{% endblock %}

{% block formBody %}
  <label>URL</label>
  <input class="apos-soundcloud-url" type="text" name="url" />
{% endblock %}
