
<!-- <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script> -->
<script>
  hydrateSoundclouds({ clientId: '{{ options.clientId }}', url: '{{ item.url }}', display_type: '{{ options.display_type }}' })
</script>


{% if options.display_type == "waveform" %}
  <div class="apos-soundcloud-container">
	<section id="controls">
	    <div id="playpause-wrapper" class="bg-circle"><i id="playpause" class="icon-play"></i></div>
		<a target="_blank" href="http://soundcloud.com"><div id="soundcloud-wrapper" class="bg-circle"><i id="share" class="icon-retweet"></i></div></a>
	     <div id="heart-wrapper" class="bg-circle"><i id="heart" class="icon-heart"></i></div>
	    <a target="_blank" href="http://soundcloud.com"><div id="soundcloud-wrapper" class="bg-circle"><i id="soundcloud" class="icon-share"></i></div></a>
	    <a target="_blank" href="http://soundcloud.com"><div id="soundcloud-wrapper" class="bg-circle"><i id="soundcloud" class="icon-double-angle-down"></i></div></a>
	</section>
	
	<div class="sc-logo"><a target="_blank" href="http://soundcloud.com"><img src="/modules/soundcloud/images/soundcloud.png"></a></div>
	
	<section class="volume-container">   
	    <span class="tooltip"></span>   
	    <div id="slider"></div>
	    <span class="volume"></span>  
	</section> 
	
	<div id='waveform'>
		<div class="play-text">Click to Play</div>
	</div>
	</div>

{%  elif options.display_type == "360" %}

	<div class="ui360">
	 <a id="track" type="audio/mp3" href="">play</a>
	</div>


{% elif options.display_type == "Soundcloud-embed" %}
	
	<div class="apos-soundcloud-container"></div>

	<!-- <div style="width: 50px; margin: 0 auto;">
	<div class="ui360" >
	 <a id="360_track" type="audio/mp3" href=""></a>
	</div>
	</div> -->

{% endif %}

<div class="apos-soundcloud-container" data-url="{{ item.url }}">
</div>

