
<!-- <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script> -->
<script>
  hydrateSoundclouds({ clientId: '{{ options.clientId }}', url: '{{ item.url }}', display_type: '{{ options.display_type }}' })
</script>

{% if options.display_type == "waveform" %}
  <div class="apos-soundcloud-container">

	
	<div class="sc-logo"><a target="_blank" href="http://soundcloud.com"><img src="/modules/soundcloud/images/soundcloud.png"></a></div>
	<div class="playpause-button"><i id="playpause" class="icon-play"></i></div>

<!-- 	<div class="download-button"><a target="_blank" href="http://soundcloud.com"><img src="/modules/soundcloud/images/download.png"></a></div> -->

<!-- 	<div class="download-button"><a target="_blank" href="http://soundcloud.com"><i class="icon-download"></i></a></div> -->
	
	<div id='waveform'>
		<div class="play-text">Click to Play</div>
	</div>
	</div>

{%  elif options.display_type == "360" %}

	<div class="ui360">
	 <a id="track" type="audio/mp3" href="">play</a>
	</div>


{% elif options.display_type == "Soundcloud-embed" %}
	
	<div class="apos-soundcloud-container"></div>

{% endif %}

<div class="apos-soundcloud-container" data-url="{{ item.url }}">
</div>

